<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Phos Spring Boot</title>
</head>
<body>
    <h1>Books List</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Publisher</th>
        </tr>
        <tr th:each="book : ${books}">
            <td th:text="${book.id}">123</td>
            <td th:text="${book.title}">Think Java</td>
            <td th:text="${book.publisher.name}">Ying Yang</td>
        </tr>
    </table>

</body>
</html>